* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.certificates {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.certificate {
  background: rgb(167, 186, 247);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.certificate .btn {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  border: none;
}

.services {
  display: flex;
  /* justify-items: center; */
  /* justify-content: center; */
  justify-self: center;
}
